/*style untuk semua dokumen............................................*/
body {
  text-align   : ; 
  font-size    : 16px;
  font-family  : sans-serif;
}

span {
 color:orange;
}

 a {
  text-align   : center; 
  font-size    : 16px;
  font-family  : sans-serif;
  color        : ;
  padding      : 10px 20px;
  border       : 2px solid orange;
  cursor       : pointer;
  border-radius: 10px;
  background   : linear-gradient(to top, red, orange);
  box-shadow   : 5px 5px 3px rgba(0,0,0,0.5);
  user-select  : none;
  text-decoration: none;
}

a:hover {
  background   : linear-gradient(to bottom, red, orange);
}

a:active {
  background   : linear-gradient(to right, lime, yellow);
}

h2 {
  color:lime;
}



/*style uts.html dan uas.html..........................................*/
.container {
  width        : 800px;
  margin       : auto;
}

input[type="button"], input[type="reset"] {
  text-align   : center; 
  font-size    : 18px;
  font-family  : sans-serif;
  color        : ;
  padding      : 10px 20px;
  border       : 2px solid orange;
  cursor       : pointer;
  border-radius: 10px;
  background   : linear-gradient(to top, red, orange);
  box-shadow   : 5px 5px 3px rgba(0,0,0,0.5);
  user-select  : none;
  text-decoration: none;
}

input[type="button"]:hover {
  background   : linear-gradient(to bottom, red, orange);
}

input[type="button"]:active {
  background   : linear-gradient(to right, lime, yellow);
}

input[type="text"] {
  text-align   : center; 
  font-size    : 18px;
  font-family  : sans-serif;
  color        : ;
  padding      : 10px 20px;
  border       : 2px solid orange;
  cursor       : pointer;
  border-radius: 10px;
  background   : linear-gradient(to top, green, lime);
  box-shadow   : 5px 5px 3px rgba(0,0,0,0.5);
  user-select  : none;
  text-decoration: none;
  width        : 100px;
}

.sendBtn {
 text-align   : center; 
 font-size    : 18px;
 font-family  : sans-serif;
 color        : ;
 padding      : 10px 20px;
 border       : 2px solid orange;
 cursor       : pointer;
 border-radius: 10px;
 background   : linear-gradient(to top, blue, cyan);
 box-shadow   : 5px 5px 3px rgba(0,0,0,0.5);
 user-select  : none;
 text-decoration: none;
 width        : 100px;
 display      : none;
}

.biodata {
 float  : right;
}

.logo {
 float  : right;
 width  : 200px;
 height : 200px;
}

.subItem {
 list-style-type : lower-alpha;
}


